.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#root{
  width: 90% !important;
  margin: auto;
  background-color: brown;

}
.App-link {
  color: #3445b4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.principal{
  clear: both;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 80%;
  margin:auto;
}

.secundario{
  margin: 0 auto;
}

.custom-button {
  background-color: #3445B4;
  color: white;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.search-bar {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
//background-color: #3445b4;
}

.search-bar input {
  max-width: 200px;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1.75rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  background-color: white;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #130f40;
}
.search-box{
  float: left;
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 10px;

}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #3445b4;
  padding-right: 40px;
  color: rgb(255, 255, 255);

}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color: #3445b4;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 10px;
  background-color: #3445b4;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 10px;
  background-color: #3445b4;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}


